[submodule "ci2027-db-data"]
	path = ci2027-db-data
	branch = main
	url = https://git-dmz.thuenen.de/datenerfassungci2027/ci2027_datenerfassung/ci2027-db-data.git
	
[submodule "ci2027-db-structure"]
	path = ci2027-db-structure
	branch = main
	url = https://git-dmz.thuenen.de/datenerfassungci2027/ci2027_datenerfassung/ci2027-db-structure.git
