<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Status</title>
</head>
<body>
    <div>
        <h1>Server Status</h1>
        <% for(var i=0; i<results.length; i++) {%>
            <p>
                <% if (results[i].hasOwnProperty('server')) { %>
                    <%= results[i].server.url %>
                <%}%>
                <% if (results[i].hasOwnProperty('status')) { %>
                    <%= results[i].status %>
                <%}%>
            </p>
        <% } %>
    </div>
    
</body>
</html>